[2019-04-03 01:28] coldfix opened #2 "`*` escaped too much"
Hey,

lovely tool!

I found that signatures with `*args` or `**kwargs` show up weird in final html output, displayed as `\*args` with visible backslash.

It works as expected if removing the line `sig = sig.replace('*', r'\*')`.

[2019-04-03 06:25] Chilipp commented on #2
Thank you very much @coldfix, you are completely right, this line is redundant.  I removed it in https://github.com/Chilipp/autodocsumm/pull/3 and implemented a few tests to make sure that this does not occur anymore.

[2019-04-03 06:51] #2 closed

[2019-04-03 07:17] Chilipp commented on #2
All right @coldfix: I just pushed a new release [0.1.8](https://github.com/Chilipp/autodocsumm/releases/tag/v0.1.8) to [PyPi](https://pypi.org/project/autodocsumm/) (conda-forge will come later today) that includes the fix in https://github.com/Chilipp/autodocsumm/pull/3. Thanks again for reporting this issue and for using autodocsumm!

Best,
Philipp

[2019-04-03 10:36] coldfix commented on #2
Thanks a lot! :)

[2019-04-03 13:00] coldfix opened #6 "Error if using autosummary for a cython extension module"
Hi,

when adding the `:autosummary:` option to a automodule directive for a python module that was generated by cython, I get an error with the following traceback:

[code]

The pure automodule directive without autosummary works.

So far, I haven't investigated deep enough on how this could be fixed.

[2019-04-03 13:03] Chilipp commented on #6
Hi @coldfix! Thanks for your thorough investigations 😄
Yes, this might cause difficulties since it is not straightforward to handle the docstrings of cython files. I'll have a look into it

[2019-04-03 13:59] Chilipp commented on #6
Hi @coldfix, I think I found a solution in PR https://github.com/Chilipp/autodocsumm/pull/7. Could you try this and verify that it works? I basically mimic the behaviour of the `AutosummaryDocumenter.get_grouped_documenters` method.

This solution is motivated (and copied) from the `autodoc.Documenter.generate` method.

[2019-04-03 19:07] #6 closed

[2019-05-01 13:03] maeddlae opened #8 "Instance variable not shown correctly"
**Description**
Instance variable is not shown correctly:

**Example**
[code]
Generated output:
![image](https://user-images.githubusercontent.com/4435096/57018023-f9ab8980-6c21-11e9-8c8f-bcb7709dee0c.png)

**Setup:**
- Python 3.7.1
- Sphinx 2.0.1
- autodocsumm 0.1.9
- sphinx-rtd-theme 0.4.3

[2019-05-01 13:07] maeddlae opened #9 "add option to list inherited attributes & methods too"
It is not possible to show inherited attributes and methods in sub class

[2019-05-01 13:25] Chilipp commented on #9
Hello @maeddlae, thanks for submitting this issue! autodocsumm uses the flags provided to autodoc. Hence, it generates an entry in the table for each attribute that is documented by autodoc.

By default, autodoc does not document inherited members. Therefore, if you want to include them, you have to include the `:inherited-members:` flag for the corresponding directive (see the [autodoc docs](http

[2019-05-01 13:29] Chilipp commented on #8
Good point, yes, that is at the moment not working. The only workaround is to create a class_variable and override it in the corresponding instance

[code]

But you are right, since autodoc is able to put the `instance_variable` here, `autodocsumm` should as well

[2019-05-02 06:52] maeddlae commented on #9
My bad, you are right. I just forgot to redefine the base class attribute in sub class in order to make it appear. This code is now summarized as it should (except of https://github.com/Chilipp/autodocsumm/issues/8):

[code]
![image](https://user-images.githubusercontent.com/4435096/57059896-9f5d0800-6cb7-11e9-963e-c72c8620df17.png)

[2019-05-02 06:52] #9 closed

[2019-05-02 06:57] maeddlae commented on #8
Do you plan to fix this in the near future? I am asking because autodocsumm perfectly fits my needs. But showing the attributes is critical for me..

[2019-05-02 07:02] Chilipp commented on #8
Yes, I will work on it before Sunday. I don't think it should be too difficult.

[2019-05-02 10:17] maeddlae commented on #8
Great, thanks a lot. Then I will wait for your update:-)

[2019-05-06 10:49] #8 closed

[2019-06-11 19:09] justinwp opened #11 "Sphinx Warning on Directive Name Collision"

[2019-06-11 20:54] #11 closed

[2019-06-26 05:22] maeddlae opened #14 "Order in class is random"
The order of class docstring, `__init__ `(if autoclass_content = "both" in conf.py) and autodocsumm summary is not always the same. For example
[code]
shows class docstring first, then autodocsumm followed by `__init__`. But
[code]
gives you class docstring first, then `__init__` and finally autodocsumm.
This is maybe a bug not only concerning autodocsumm but also autodoc from Sphinx.
However, it

[2019-06-26 05:37] maeddlae commented on #14
Update: In this example, the autodocsumm part splits the docstring into two parts!?

[code]

[2019-06-26 05:54] maeddlae opened #15 "feature: print module/class summary without method descriptions on same page"
The idea is that one can use

[code]
which prints the class docstring and the autodocsummary. Today, autodocsumm does not print anything, because there are no methods documented. This means, the class methods must be documented somewhere else, maybe in another rst. I don't know if this is possible.

The result would be something like this: http://pandas.pydata.org/pandas-docs/stable/reference/seri

[2019-06-26 08:04] Chilipp commented on #14
Hi @maeddlae! Thanks for reporting this! It is not random in that sense, but it is not solved very well, I totally agree. The problem is, that autodocsumm has to insert the summary somewhere without knowing the exact documentation. There are some criteria (see  https://github.com/Chilipp/autodocsumm/blob/520d1e72079d894fa63556d1cd192456c922e36d/autodocsumm/__init__.py#L490) but I see that they fai

[2019-06-26 08:06] Chilipp commented on #15
Interesting idea, thanks! Yes, this should be easy to include. I'll have a look into it

[2019-06-26 13:19] maeddlae commented on #14
Ok, thanks for investigating that:-)

[2019-06-28 06:20] maeddlae opened #16 "sub classes appear as miscellaneous"
- If a class defines a subclass, the subclass appear in summary chapter "miscellaneous"
- And in autodocsumm, it says "miscallaneous", which is wrong. Correct: "Miscellaneous"

[2019-06-28 12:55] Chilipp commented on #16
Hi @maeddlae! Thanks again for your report! Could you please be a bit more explicit? Because I could not reproduce this problemDo I get you right, that if you have something like

[code]

in a file named `test.py`, then `B` appears under the `miscellaneous` section in

[code]
?

[2019-07-04 10:45] maeddlae commented on #16
Sorry for answering that late. I didn't see your question earlier. Here is an example:

[code]

The generated API then looks like this:
![image](https://user-images.githubusercontent.com/4435096/60661151-a4763900-9e59-11e9-8f0c-e6a23baea3e7.png)

[2019-07-05 14:54] Chilipp commented on #16
Hi @maeddlae! Thanks for the clarification 😄 As workaround, you can define your own grouper in `conf.py`, for example

[code]

However, we can also change the current behaviour of autodocsumm. Any suggestion, under which section the `SubClassOfA` should appear? Maybe *Member classes*?

[2019-07-08 05:38] maeddlae commented on #16
Hmm, I would say just "Class" would be ok. But Python calls them "Inner Class" or "Nested Class", see https://pythonspot.com/inner-classes/.

[2019-07-08 10:21] Chilipp commented on #16
Agreed. I just implemented the necessary changes in https://github.com/Chilipp/autodocsumm/pull/17 which then closes this issue. Would you mind confirming that it full fills the request?

[2019-07-14 11:15] #16 closed

[2019-07-16 13:53] #15 closed

[2019-09-18 21:19] piyushk opened #19 "Apply autosummary for module but not nested classes"
I'm using autodocsumm along with sphinx-apidoc to generate documentation.

My current usage is as follows:
[code]

This creates the summary table as desired for the module, but also causes each class etc. in the package added by automodule to have a summary table, which is not desired. Is there an easy way I can get just the summary table for the module, and not for nested structures?

[2019-09-18 21:43] Chilipp commented on #19
Hi piyushk! Unfortunately, no, not yet. I see that this feature can be useful and it would be good to implement it! It should not be too difficult.

Do you have any time that you can invest into this? I can work on it, but probably not much during the next four weeks since I am finishing my PhD. I am happy to discuss and review any new implementation.

[2019-09-18 21:49] piyushk commented on #19
I'll take a look at it tomorrow. I haven't looked at the code in detail yet -- any quick pointers on how to implement the feature would be appreciated, but not necessary.

[2019-09-19 00:42] piyushk commented on #19
I managed to find some time right now to look at this issue. I have opened a draft PR for this issue https://github.com/Chilipp/autodocsumm/pull/20 which attempts a fix. We can continue discussion there. I'm unsure if my solution is correct, as I do not have familiarity with sphinx or autodoc code.

We can also follow up at a later date when you're more available. I'm currently using my branch, so

[2019-09-20 07:44] #19 closed

[2019-11-06 18:23] jbloom opened #21 "module-level summary location affected by headers in module docstring"
Everything with `autodocsumm` works great I have a module with a docstring like this:
[code]
When I build the sphinx docs, I get my module level docstring followed by the summary (table of contents) for the module.

But if the module-level docstring looks like this:
[code]
then when I build the sphinx docs, the summary (table of contents) appears **before** the module-level doc string--which looks

[2020-02-10 02:32] scottgigante opened #22 "autodocsumm fails to load with sphinx 2.4"
sphinx.ext.autodoc.Signature has been removed in Sphinx 2.4.
[code]

[2020-02-13 08:48] Chilipp commented on #22
Thanks @scottgigante! I am working on it and up to now modified the run-requirements of the conda-forge package to `sphinx <2.4.0` (see https://github.com/conda-forge/autodocsumm-feedstock/pull/8)

[2020-02-13 12:06] #22 closed

[2020-02-13 14:07] Chilipp commented on #22
Hi @scottgigante! This issue has been fixed in #23 and I just pushed a new release ([0.1.12](https://github.com/Chilipp/autodocsumm/releases/tag/v0.1.12)) to [PyPi](https://pypi.org/project/autodocsumm/0.1.12/) (and conda-forge just got merged in https://github.com/conda-forge/autodocsumm-feedstock/pull/9).

[2020-02-13 14:12] scottgigante commented on #22
Thanks so much for the quick fix!

[2020-03-04 14:00] gigiogigo opened #24 "Warnings is deprecated"
Hello, I find this extension very useful thanks for the work!

While executing it the following warning comes up:

The error comes from the following line:
https://github.com/Chilipp/autodocsumm/blob/edba002f8e6bf1c63ac35bbffcd40147e7806685/autodocsumm/__init__.py#L498

In the following page you can check that the warnings are deprecated: https://www.sphinx-doc.org/en/master/extdev/deprecated.html

[2020-03-04 16:11] #24 closed

[2020-03-04 16:12] Chilipp commented on #24
Thanks @gigiogigo for reporting this! I implemented some changes and tests in #25, so this should be resolved now. If not, please reopen this issue :smiley:

[2020-03-05 08:45] gigiogigo commented on #24
I just upgraded using the `pip3 install --upgrade git+https://github.com/Chilipp/autodocsumm` and I didn't get the warning anymore!
I also tried looking for the update via `pip3 list --outdated` but it didn't show up, maybe the push to pypi takes more time...

Thanks a lot for fixing it so quickly! I'm glad I could help 😄 .

[2020-03-05 10:15] Chilipp commented on #24
Thanks for the confirmation!

Yes, I did not do a new release immediately. But now, it is available on [PyPi](https://pypi.org/project/autodocsumm/) and [conda-forge](https://anaconda.org/conda-forge/autodocsumm) will come later today.

[2020-03-22 18:29] Chilipp opened #26 "incompatibility with sphinx-3.0.0b1"
See the failed tests for f36aa77e7a18ccc2f21fd897fb4563950b60f443. We're working on it

[2020-04-10 20:09] #26 closed

[2020-07-13 19:09] #14 closed

[2020-07-13 19:09] #21 closed

[2020-07-13 19:10] Chilipp commented on #21
Hi @jbloom! My apologies for being so silent! I resolved this ambiguity with #28 and it's now always behind the module-level docstring

[2020-07-13 19:11] Chilipp commented on #14
@maeddlae, the docstring is now always behind the docstring as I avoid this _injection_ of the doc_nodes now

[2020-09-17 17:17] scottgigante opened #30 "f-strings not supported in python 3.5"
By including f-strings in the latest release (https://github.com/Chilipp/autodocsumm/blob/master/autodocsumm/__init__.py#L530), autodocsumm is no longer compatible with python 3.5, despite the badge in the README saying it is. I suggest you either remove 3.5 from the badge and add a `python_requires=">=3.6"` to setup.py, or use `str.format` instead.

[2020-09-22 20:45] Chilipp commented on #30
thanks for reporting this @scottgigante! I made the necessary chances in #31 and merge it when the CI passes

[2020-09-22 20:54] scottgigante commented on #30
Thanks @Chilipp !

[2020-09-22 21:08] #30 closed

[2020-09-24 08:20] Chilipp commented on #30
FYI @scottgigante, the new release solving this issue is now available via `pip` and `conda-forge`

[2020-09-24 14:06] scottgigante commented on #30
Thank you! Appreciate your rapid response.

On Thu, 24 Sep 2020 at 04:20, Philipp S. Sommer <notifications@github.com>
wrote:

[2020-10-01 10:23] bouweandela opened #32 "Warning when building documentation with v0.2.0 or v0.2.1"
Since version 0.2 of autodocsumm, we are seeing the following warning when building our documentation:
[code]
The warning appears in files that have
[code]
at the top. I suspect it has something to do with the asterisk in the first argument of [itertools.product](https://docs.python.org/3.8/library/itertools.html#itertools.product) (it's `*iterables`), but I'm not sure. My apologies for the slight

[2020-10-01 10:26] Chilipp commented on #32
hi @bouweandela! thanks for reporting this! Could you simply post a python module file that you think reproduces this bug? Then I can make a small setup with sphinx to test it.

[2020-10-01 12:14] bouweandela commented on #32
Here is a fairly minimal example:

I generated a default sphinx configuration using `sphinx-quickstart` and added the following to conf.py:
[code]
content of test.py:
[code]
content of index.rst:
[code]

[2020-10-09 15:06] felixchenier opened #33 "Regression bug from 1.1.13 to 1.2.x ?"
Hello

I have a problem with autodocsumm 1.2.x which generates a summary of all the module objects, (wrongly) including the imported objects. Also, the links between the summary table and the objects are not all created (some summary entries whose links worked before are not links at all in 1.2.x).

Reverting to 1.1.13 resolved the case for me.

I'm sorry I don't have a simple example project to r

[2020-10-09 15:20] Chilipp commented on #33
Hey @felixchenier ! Thanks for reporting. Something must go won't with the following of members... It's likely also what causes the problem in #32, as the function that we talk about there is imported and actually would not have been listed...

I am using the same filtering as autodoc, but likely there has been introduced a bug in the last version, sorry. I need to have a closer look.

[2020-10-19 08:47] bouweandela commented on #33
Note that the version numbers above and in the title are off by 1 in the major version number, it's 0.1.13 and 0.2.x

[2020-11-19 20:09] btjanaka opened #34 "Documenting class methods / attributes in `bysource` order"
Hi there! First of all, let me say that this is a great extension, and it's come in handy in a project I am working on.

I have a question about ordering class members in the TOC for each class. When I use `member-order: "bysource"` and have `autosummary: True` in my `autodoc_default_options`, I notice that my module TOC is ordered by source, but the members in my classes are ordered alphabeticall

[2020-12-02 20:26] sirosen opened #35 "Missing declared dependency on `six` needs resolution"
I understand that it's probably still desirable to support py2 in this project, but as some projects move to py3 only its becoming possible to have a package which doesn't depend on `six` 😲 !

Anyway, I think `autodocsumm` should either

A) add `six` to its dependencies (no version, I think)
or
B) treat `six` being absent as "automatic PY3 mode"

I haven't looked at the code yet, but my inclinatio

[2020-12-02 20:44] Chilipp commented on #35
thanks for bringing this up @sirosen! I think we can remove it entirely as sphinx is nowadays python3 only, too. I can fix this today

[2020-12-02 20:50] sirosen commented on #35
Awesome! I just stumbled over this today, so now I'm thinking about using it myself.
Thanks for helping to make sphinx that much better to work with.

[2020-12-03 08:23] Chilipp opened #39 "CI is not starting"
for whatever reasons, Travis does not start the jobs which is blocking #38, #37, #36

would be a good opportunity to switch to github actions...

[2020-12-03 09:53] #39 closed

[2020-12-03 14:05] #35 closed

[2020-12-03 14:05] #32 closed

[2020-12-03 14:05] #33 closed

[2020-12-03 14:06] #34 closed

[2021-01-03 02:34] xuhdev opened #41 ""Failed to import" error if a class is imported and it has an attribute without a default value"
Consider a class that has an attribute without a default value, and is imported. If `autoclass` is applied to this class and `autosummary` is turned on, `sphinx-build` errors out.

## Reproduce

Download
[bug.tar.gz](https://github.com/Chilipp/autodocsumm/files/5761113/bug.tar.gz). Unarchive it, and run

    PYTHONPATH=. sphinx-build -v -d "./_build" docs "_build/html" -b html -W --color

It produ

[2021-01-03 22:58] Chilipp commented on #41
Hey @xuhdev ! Thanks a lot for reporting this issue. I think that this should rather be resolved within the autosummary extension, shouldn't it? I saw that you already created the corresponding issue in the sphinx repo, so maybe we keep this issue here open an close it when https://github.com/sphinx-doc/sphinx/issues/8645 has been resolved

[2021-01-03 23:11] xuhdev commented on #41
Hi @Chilipp ! I'm not sure whether the two issues are actually the same issue: https://github.com/sphinx-doc/sphinx/issues/8645 doesn't involve imported module, but this issue is only reproduceable if an imported module is involved. But they may be related though, I just don't understand the extension enough to make the judgment.

[2021-01-08 15:43] felixchenier commented on #33
Good morning Philipp

Thank you for working on this issue. I tried 0.2.2 today and I saw some difference but I don't think the issue is solved yet. Some imports such as imports from typing (Dict, Tuple, etc.) are correctly undocumented now, but some other imports (from my own libraries but also from other standard libraries such as copy) are. Also, I still get no link in the generated table.

I jo

[2021-03-23 14:22] dgilland opened #43 "Feature request: option to set ":nosignatures:" for autosummary"
Would be useful to be able to specify the `:nosignatures:` option for the autosummary to disable exception/class/function signatures. I'm currently resorting to monkey-patching `AutosummaryDocumenter.add_autosummary` to inline the option globally.

[2021-03-29 11:27] IljaManakov opened #44 "Crash when encountering class attributes that are aliases"
Hi,

I have encountered an issue where autodocsumm crashes when it encounters a class attribute that is a type instance (i.e. it is just an alias). What appears to happen is the following:
- autodoc's ClassCodumenter's get_doc returns None for aliases.
- AutoSummary's get_grouped_documenters attempts to iterate over the return value of get_doc
- Combined, this results in a TypeError when a class h

[2021-04-01 07:55] AntoineD opened #45 "Broken with sphinx 3.5 on windows"
Hello,

It works fine with Sphinx 3.4, see attach error log file.

[sphinx-err-dd25pm9e.log](https://github.com/Chilipp/autodocsumm/files/6241941/sphinx-err-dd25pm9e.log)

[2021-04-11 04:19] EpicWink commented on #45
Duplicate of $44

[2021-04-11 04:20] EpicWink commented on #44
Fixed by #42

[2021-04-15 11:56] Chilipp commented on #44
Thanks for reporting @IljaManakov! This issue has been closed via #42.

[2021-04-15 11:56] #44 closed

[2021-04-15 11:57] Chilipp commented on #45
Thanks for reporting @AntoineD, this issue has been closed via #42

[2021-04-15 11:57] #45 closed

[2021-04-15 12:02] Chilipp commented on #43
Hey @dgilland! Sounds like a good approach to me! Sorry for getting back to you so late, it took a while to find some time for me to become up-to-date with the latest developments in sphinx. I just released a new version that is compatible with sphinx 3.4 and 3.5.

Would you be willing to provide a PR to add the `:nosignatures:` option?

[2021-04-15 22:05] dgilland commented on #43
@Chilipp I've opened a PR to add this: #46

[2021-04-16 22:46] ycremar commented on #43
Thank you @dgilland and @Chilipp for the new feature. It works great! I was just looking for solutions and found it updated here. I wonder if the new feature is updated on PyPI cuz directly installing it from pip seems not working (but `pip install git+` from this repo works).

[2021-04-17 04:14] Chilipp commented on #43
Hey @ycremar ! I'll make a new release asap. There is an issue with the docs on RTD and I'll first need to figure how to fix this.

https://readthedocs.org/projects/autodocsumm/builds/13526310/

[2021-04-17 04:15] Chilipp opened #47 "Docs are not building"
For some reason, RTD installs Sphinx 1.8.5 and doesn't update it

https://readthedocs.org/projects/autodocsumm/builds/13526310/

[2021-04-17 04:34] Chilipp commented on #47
Likely related to https://github.com/readthedocs/readthedocs.org/issues/7816

[2021-04-17 04:36] Chilipp commented on #43
Closed via #46. The issue with the docs is tracked in #47

[2021-04-17 04:36] #43 closed

[2021-04-18 09:34] andy-maier opened #48 "Add support for autoexception directive"
The Sphinx autodoc extension supports a directive `autoexception` (https://documentation.help/Sphinx/autodoc.html#directive-autoexception).

Specifying `:autosummary:` on the `autoexception` directive fails:
[code]

For consistency, it would be great to enable its use. I believe the `autoexception` directive behaves pretty much the same as the `autoclass` directive, but I did not dig deep into thi

[2021-04-18 09:43] andy-maier opened #49 "Exception attribute 'args' not shown in attribute summary table"
The standard Python `Exception` class exposes an `args` attribute, but that attribute is not included in the attribute summary table generated by autodocsumm.

The `args` attribute is in the list returned by `dir()`, and `inspect.getmembers()` returns it as well, so it is pretty officially there.

[2021-04-18 09:58] andy-maier opened #50 "No links to inherited items in summary tables"
If the `:autosummary-inherited-members:` option is used on a class, the attribute and method summary tables generated by autodocsumm correctly include items for the inherited attributes and methods, but these items do not link to their descriptions. Their descriptions do show up in another RST file in the same overall Sphinx document. Even when the inherited class is in the same RST file, it also

[2021-05-09 10:26] andy-maier opened #51 "Sphinx 4.0.0 breaks autodocsumm"
Earlier today, sphinx 4.0.0 was released, and it removed a function the autodocsumm package depends on.

This causes the autodocsumm package to fail when trying to import 'force_decode' from 'sphinx.util' when invoking Sphinx to build.

From GitHub Actions run https://github.com/pywbem/pywbem/runs/2537231242?check_suite_focus=true:

[code]

[2021-05-09 11:07] Chilipp commented on #51
hey @andy-maier! thanks for this input. I'll have a look at it now

[2021-05-09 11:08] #47 closed

[2021-05-09 11:52] #51 closed

[2021-05-09 11:57] Chilipp commented on #50
hey @andy-maier! apologies for the delay. I'd need more information to fix this. Could you please provide a small reproducible example?

[2021-05-09 12:04] Chilipp commented on #51
alright, it has been fixed and a new release is out on pypi: [version 0.2.4](https://pypi.org/project/autodocsumm/)

[2021-05-10 21:10] kloczek opened #54 "0.2.4: sphinx_testing is used uses in test suite"
That module actually is no longer maintained https://github.com/sphinx-doc/sphinx-testing/issues/21

[code]

[2021-05-10 21:21] kloczek opened #55 "0.2.4: problematic dependencies definition"
[code]
That kind of dependencies cannot be mapped in rpm dependencies generator.
[code]

[2021-05-11 10:49] Chilipp commented on #54
thanks for the hint @kloczek!

[2021-05-11 10:51] Chilipp commented on #55
thanks @kloczek! any suggestion how to fix this?

[2021-05-11 11:15] kloczek commented on #55
Hee is ythe patch which I'm using in my rpm package:
[code]

[2021-05-11 11:17] kloczek commented on #55
Logically `>=2.2.*` is equivalent of `>=2.2` :)

[2021-05-29 20:22] sneakers-the-rat opened #56 "get_documenters is deprecated in Sphinx 5"
When using with Sphinx 4.0.2, I get plenty of deprecation warnings like this:

[code]

invoked here: https://github.com/Chilipp/autodocsumm/blob/3510543966a0c8e3102c4be312d9454f1bb5d410/autodocsumm/__init__.py#L202

the deprecated APIs page suggests `sphinx.registry.documenters` as the new API, looks like it's just a dictionary: https://github.com/sphinx-doc/sphinx/blob/2809b30c17a8fe362910f40b91f

[2021-06-28 10:10] #56 closed

[2021-06-28 11:46] #55 closed

[2021-06-28 11:46] #54 closed

[2021-06-28 17:46] kloczek opened #59 "0.2.5: sphinx warnings"
[code]

[2021-06-28 17:53] kloczek opened #60 "0.2.5: pytest warnings"
[code]

[2021-06-28 18:34] #59 closed

[2021-06-28 18:34] #60 closed

[2021-06-28 18:54] kloczek commented on #59
Confirmed. 0.2.6 is POK now :)

Thank you.

[2021-06-28 18:56] kloczek commented on #60
0.2.6 is clean.

Thx :)
[code]

[2021-06-28 18:59] Chilipp commented on #60
thanks @kloczek :smiley:

[2021-06-28 19:00] Chilipp commented on #59
thanks @kloczek :smiley:

[2021-08-18 03:38] greyli opened #62 "Type annotations are not rendered properly"
Hi, thanks for the cool project. It seems that the type annotations for the class arguments are not rendered properly. Catch this in Marshmallow docs: https://marshmallow.readthedocs.io/en/stable/marshmallow.validate.html

Take the first `And` class as an example. Here is the raw definition:

[code]

Expected output:

[code]

Actual output:

[code]

- sphinx==4.1.2
- autodocsumm==0.2.6

[2021-08-18 06:33] Chilipp commented on #62
Hey @greyli ! Thanks for your input! Indeed, that does not make sense. I wonder, whether this is a problem of autodocsumm or autosummary.

What do you get when you include

[code]

?

[2021-08-18 07:58] greyli commented on #62
It's the same as the old output:

![image](https://user-images.githubusercontent.com/12967000/129859027-41eb00bf-4655-425d-bb2f-07db925b37ea.png)

Source: https://github.com/marshmallow-code/marshmallow/blob/dev/docs/marshmallow.validate.rst

I think this may be related to https://github.com/sphinx-doc/sphinx/issues/6311, but that issue seems fixed by https://github.com/sphinx-doc/sphinx/pull/6353

[2021-08-18 10:19] Chilipp commented on #62
hey @greyli! yes, this is definitely an issue for the sphinx-doc repository and you should make sure that you use the latest version of sphinx.

I am closing this then.

[2021-08-18 10:19] #62 closed

[2021-08-18 13:35] greyli commented on #62
I see, thanks!

[2021-09-16 06:34] eivindjahren opened #63 "Missing upper bound on sphinx version for `autodocsumm==2.2.x`"
A missing upper bound on version 2.2.x is causing downstream package `sphinx-toolbox` to incorrectly install `autodocsumm=2.2.0` together with `sphinx>=4`.

see https://github.com/sphinx-toolbox/sphinx-toolbox/issues/71

[2021-09-16 11:14] Chilipp commented on #63
thanks for pointing to this @eivindjahren! should be fixed by #64

[2021-09-16 13:56] #63 closed

[2021-09-27 14:36] raymanP opened #65 "No links to items in summary tables when using __init__.py imports"
Hi dears,
if having an module import in \_\_init__.py the links are missing for the class.
Sphinx is showing the links correctly, .e.g. for :meth:\`mymodule.myclass.mymethod\` for the below example.

Example:
* mymodule/\_\_init__.py
`from mymodule.mysubmodule import myclass`

* mymodule/mysubmodule.py
[code]

* doc.rst
[code]

[2021-09-27 14:57] Chilipp commented on #65
hey @raymanP! I wonder what you get with

[code]

Could you please try? I wonder whether this could be related to what I observed quite some time ago in https://github.com/sphinx-doc/sphinx/issues/9069

[2021-09-27 15:15] raymanP commented on #65
hey @Chilipp! This also produces an entry without a link.
I already tried all possibilities I could imagine.

Classes in the same module which are not in the __init__.py are linked correctly.

[2021-09-27 15:25] raymanP commented on #65
Great to know.. Thank you @Chilipp! Then I will wait for the upstream fix. :)

[2021-09-27 15:29] raymanP commented on #65
Then we can close this here. Have a nice day ;)

[2021-09-27 15:29] #65 closed

[2021-12-03 00:53] asmeurer opened #66 "Some way to put documentation on separate pages like sphinx.ext.autosummary"
Is there a way to put the documentation for each function/method on a separate page like you can do with sphinx.ext.autosummary? I have been trying to figure out if it's possible to do it by somehow mixing autodocsumm and autosummary, but I'm not seeing a straightforward way to do it.

My main motivation here is that I like that autodocsumm uses autodoc to determine which members are included. aut

[2021-12-03 05:48] Chilipp commented on #66
Hey @asmeurer ! Thanks for your input! That does indeed sound like a useful feature :smiley: autosummary does generate these files in a pre-processing step, so outside of the build process, which is something we cannot do with autodocsumm. So my naive idea would be to implement something that is called with the `builder-inited` signal. Then you go through all files and look for `automodule` and `a

[2021-12-03 21:05] asmeurer commented on #66
Yes, I think I can give this a shot, although I'm a little afraid it won't be easy. I'll have to see how well I can make sense of the code. I've written a Sphinx extension before, but I know that it can be complicated. My guess is that we could probably crib some code from autosummary, but it won't be as simple as just calling out to it. The reason is that autosummary simply lacks the parameters i

[2021-12-05 20:44] Chilipp commented on #66
Alright! Thanks for the contribution then already :smiley: Please let me know if and how I can help you and when you start working on it. It shouldn't be too hard to overcome this file-naming issue.

[2021-12-06 05:32] asmeurer commented on #66
I did some looking at the code, but haven't written anything yet. I also wanted to see if it would be possible to avoid writing files to disk at all, but as far as I can tell, this is impossible, or at least it would be extremely difficult. Sphinx seems to have a pretty hard assumption that every document corresponds to a file on disk. (the only reason I wanted to look at this is that it would be

[2021-12-09 21:03] asmeurer commented on #66
The one piece of the puzzle I'm still trying to figure out is how to hook into the autodoc machinery to get a list of all the pages that should be generated at the builder-inited stage. It seems  like I would need to manually parse each autodoc directive and extract its contents, then somehow inject that into the appropriate autodoc functions. Do you have any thoughts on an easy way to do this?

I

[2021-12-09 21:14] Chilipp commented on #66
Hmm, no idea. Isn't autosummary doing the same with it's generate command? See [here](https://github.com/sphinx-doc/sphinx/blob/7d6d5621fe7fde48545e663c94405efe01503c72/sphinx/ext/autosummary/generate.py#L657). But yes, this seems quite complicated indeed...

[2021-12-11 01:39] asmeurer commented on #66
So I've been looking into how to parse the autodoc directive. As far as I can tell, you more or less have to use regular expressions like autosummary is doing. It's not really possible to use the Sphinx parser at the builder-inited state, because it hasn't set up all the internal state that it needs to call the parser yet. This is probably fine. I think it might just mean that it won't work when m

[2021-12-16 22:27] asmeurer commented on #66
@chrisjsewell @choldgraf, I know this isn't exactly related to what you are working on, but I know you are both pretty knowledgeable about the Sphinx internals. I wonder if you have any thoughts or suggestions on how I might implement something like this.

[2022-02-15 11:20] theOehrly opened #67 "Reference target not found in specific cases"
I've had some issues with reference targets not being found in the summary table. This happens in multiple of my projects, but within each project, the problem was limited to some modules only. This is a bit annoying because you can't just click an object in the summary table and jump directly to its full documentation.

I think I've found the cause for the issue now. Let me give an example projec

[2022-02-15 21:24] Chilipp commented on #67
hi @theOehrly! thanks for reporting this issue. I think this is a known and so far unsolved bug in the autosummary extension, see #65

[2022-02-16 15:19] theOehrly commented on #67
Ok, I now understand what the actual problem here is.
Have you seen https://github.com/sphinx-doc/sphinx/pull/6792 though? The PR intended to fix this issue too. But this was marked as won't fix, stating that the behaviour is as intended. I too am inclined to say this is a bug in sphinx. But if the sphinx maintainers stick to that opinion, then it might be better to fix it here?

[2022-02-18 17:29] Chilipp commented on #67
Hey @theOehrly

Sure, but I don't know if this is possible without reimplementing the autosummary extension. Did you already had a look how to potentially fix this issue here and could make some suggestions?

[2022-02-21 12:12] theOehrly commented on #67
Hi, I don't have any good ideas for a potential fix right now. I will take a closer look at it some time in the next few weeks.

[2022-02-26 00:44] deckar01 opened #69 "Alias Expands Nested Class Documentation"
Assigning a type to a class attribute is documented as an alias, but its nested class members are being expanded.

[code]

<img width="721" alt="Screen Shot 2022-02-25 at 6 30 14 PM" src="https://user-images.githubusercontent.com/3108007/155820699-26a82d09-3591-4b47-9a8c-0047f1c1d11d.png">

Without autosummary on auto doc does not recurse on aliases:

<img width="326" alt="Screen Shot 2022-02-25 a

[2022-02-28 07:51] Chilipp commented on #69
thanks for reporting @deckar01! I do have no idea so far what causes this behaviour

[2022-04-19 12:08] Chilipp commented on #67
@theOehrly this is fixed by #70, isn't it?

[2022-04-19 12:10] Chilipp commented on #50
@andy-maier I assume that this issue is fixed by #70. could you please give it a try with autodocsumm==0.2.8 and close this issue if this is fixed?

[2022-04-19 12:26] theOehrly commented on #67
Yes, it is

[2022-04-19 12:26] #67 closed

[2022-04-19 20:01] kloczek opened #74 "0.2.8: sphinx is failing and some refferences warnings"
Looks like sphinx is failing because missing entries in `sys.path`
[code]
This can be fixed by patch:
[code]
However after that sphinx fails in other place
[code]
As dummy.py and dummy2.py are in docs/ final patch can look like below:
[code]
Wit habove documentation build corrctly.

It is yet another issue. On building my packages I'm usimg `sphinx-build` command with `-n` swich which shows warnim

[2022-04-19 20:06] kloczek opened #75 "0.2.8: pytest warnings"
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH point

[2022-04-19 20:21] Chilipp commented on #74
thanks for reporting @kloczek! on readthedocs we specify [that the package should be installed prior to building the docs](https://github.com/Chilipp/autodocsumm/blob/master/.readthedocs.yml). Isn't this an option for you instead of manipulating `sys.path`?

[2022-04-19 22:05] kloczek commented on #74
As you see on cost of two lines patch installation is not necessary. KISS pronciple ..
On packaging software (anything else outside python domain) installation is not needed to generate documentation. Side effect of that patch is that it guarantees that documentation will be generated not out of installed module but just build one.
copy.py file is in source tree sphinx semi configuration file. As

[2022-04-20 16:14] kloczek commented on #75
Tested. All looks clean 😄
[code]

[2022-04-21 07:10] MirkoLenz opened #77 "Remove attributes for enums"
Hi!
I just discovered this library and like it very much! There is just one thing that does not work as expected: In my code, there are some enums that contain many members (often more than ten). As all those entries are treated as class members (which they are, since a Python enum is a subclass of `enum.Enum`), `autodocsumm` creates redundant code: There is a table containing all enum values foll

[2022-04-26 07:00] #75 closed

[2022-06-03 20:08] lafrech opened #78 "Sphinx 5 support"
Hi. Thanks for autodocsumm.

Sphinx 5 is out but it is not supported by autodocsumm:

https://github.com/Chilipp/autodocsumm/blob/2839945611e4ea1509893fd55752a8f21266508f/setup.py#L41

I have no idea whether this restriction was added to setup.py in case a breaking change would occur or if there are actually known issues with Sphinx 5 that need to be addressed before loosening the range to "<6.0".

[2022-06-19 16:35] andy-maier commented on #50
Hi @Chilipp . Sorry for the delay. I will try with autodocsumm==0.2.8 and will produce a short file to reproduce it.

Note that #74 is likely related to that, IMO. The issue author also opened https://github.com/pywbem/pywbem/issues/2888 which includes some of the same errors. That lead me to start using the `-n` option of `sphinx-build` now. i was able to fix most of the reference not found issue

[2022-06-19 17:09] andy-maier commented on #50
@Chilipp I was able to reproduce the issue with a simple case. Unpack the attached file and read README.md inside:

[autodocsumm_50.zip](https://github.com/Chilipp/autodocsumm/files/8935991/autodocsumm_50.zip)

[2022-07-24 11:51] andy-maier commented on #50
Hi Philipp. I have done some more research, and meanwhle believe this is a Sphinx issue, and have created https://github.com/sphinx-doc/sphinx/issues/10699. If you think differently, let me know.

[2022-07-25 06:38] #78 closed

[2022-07-30 08:37] calebchiam opened #81 "Estimated date for 0.2.9 release?"
Hi @Chilipp, just wanted to check if there's an estimated date of release for `v0.2.9`. One of the projects I work on relies on `autodocsumm` but would like to upgrade to `Sphinx v5.0`, which `v0.2.8` is not compatible with. (I see that `master` is compatible with `v5.0`, as of https://github.com/Chilipp/autodocsumm/pull/79.)

[2022-07-30 09:32] Chilipp commented on #81
hey @calebchiam! I will make a new release today

[2022-07-30 09:46] Chilipp commented on #81
it's available on PyPi now https://pypi.org/project/autodocsumm/ and conda-forge will come today

[2022-07-30 09:48] calebchiam commented on #81
Thank you very much!

[2022-07-30 09:48] #81 closed

[2022-11-08 17:28] vepain opened #82 "[FEATURE] Explicit summary directive alignment"
## Now behaviour

When `autosummary` is used as a directive and not as a directive option, the alignment of the table is centered.

### Example

[code]

gives ![Capture d’écran de 2022-11-08 18-24-29](https://user-images.githubusercontent.com/32708963/200633447-fa5d679a-41e4-4286-b26d-e625188256c8.png)

## Asked feature

Is it possible to left-align the table, for example, with an option under `au

[2022-11-08 19:48] Chilipp commented on #82
hey @vepain! thanks for your input! I am not sure about this. Wouldn't this be something that is configured by the sphinx template that you use? you could add some custom css, here is an example: https://docs.readthedocs.io/en/stable/guides/adding-custom-css.html

[2022-11-09 13:40] vepain commented on #82
Thank you @Chilipp for your answer!

It seems that only a few customisations are allowed by `furo` theme (see https://pradyunsg.me/furo/customisation/).

Moreover, it seems that tables are centered by default by Sphinx, and I can't find a way to align local table not by default (see https://github.com/sphinx-doc/sphinx/issues/4550)
In the html source file, the tables produced by `.. autosummary::`

[2022-11-09 13:47] vepain commented on #82
Sorry for the second message,

I find https://docutils.sourceforge.io/docs/ref/rst/directives.html#tables where the directive `.. table::` has the option `:align: left` (e.g.)

Why not get inspired of that for the table generation of `.. autosummary::` directive?

[2022-11-09 13:56] Chilipp commented on #82
the problem here @vepain is that the ``.. autosummary`` directive that is used here does not come from the `autodocsumm` extension. it is coming from the [builtin sphinx extension `autosummary`](https://www.sphinx-doc.org/en/master/usage/extensions/autosummary.html). `autodocsumm` is just using this directive. So if you want to change anything on the underlying `autosummary` directive, you'd need

[2022-11-09 14:00] Chilipp commented on #82
my suggestion would have been to add a custom css file

[code]
and then in `custom.css` have something like

[code]

[2022-11-09 15:54] vepain commented on #82
My bad, I confused your extension with the sphinx builtin.
Thank you for your help, I will write an issue at the right place...
Have a nice day!